.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache

#
# no spoilers here :P
#
# check out 
# https://github.com/janraasch/journey-to-django-code
# for the code we'll build today
#
mvp.css
playbook.md
